* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portal-title {
    font-size: 3rem;
    margin-bottom: 10px;
    color: #6f4baf;
    
}

#login-container {
    background-color: #6f4baf;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 2rem;
    margin: 5rem;
    width: 100%;
    max-width: 350px;
}

.input-group input {
    background-color: #9476c0;
    color: #fff;
    padding: 15px 20px;
    font-size: 14px;
    outline: none;
    border: none;
}

button {
    background-color: #4fe3c1;
    color: white;
    width: 100%;
    padding: 15px 20px;
    cursor: pointer;
    font-size: 1rem;
    border: 1px solid #4fe3c1;
    outline: none;
}

button:hover {
    background-color: #0056b3;
    border: 1px solid #0056b3;
}

.forgot-password {
    text-align: right;
    line-height: 0;
}

.forgot-password a {
    text-decoration: none;
    color: white;
    font-size: 0.7rem;
}

.forgot-password a:hover {
    text-decoration: underline;
}

.register-link {
    text-align: start;
    color: #fff;
    font-size: 13px;
    line-height: 30px;
    margin-top: 5px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.register-link a {
    text-decoration: none;
    color: #fff;
    margin-left: 5px;
}

.register-link a:hover {
    text-decoration: underline;
    color: blue;
    outline: none;
}

::placeholder {
    color: #fff;
    font-size: 13px;
}

.error {
    font-size: 13px;
    color: red;
    text-align: start;
    margin-top: 5px;
}

/* Media Queries for Responsive Design */
@media (max-width: 450px) {
    #login-container {
        margin: 0 auto;
        margin-top: 5rem;
        background-color: peachpuff;
    }

    .input-group {
        width: 100%;
        max-width: none;
    }

    .logo {
        width: 100px;
    }

    .input-group input,
    button {
        width: 100%;
    }
}
